<div class="overlay"></div>
<div class="city-container">
    <img class="close-btn" (click)= "close_popup()" src="assets/close-btn.png"  alt="close">
    <div class="title-container">
        <h2>Want to change city ?</h2>
        <p>Select the city and region for which you want to view datasets for</p>
    </div>
    <div class="logo-container">
        <ul class="cities-container">
          <li *ngFor="let city of citiesData" (click)="change_city(city)">
            <a target="_self">
              <div><img src={{city.logo}} alt="">
              </div>
              {{city.name}}
            </a>
          </li>
        </ul>
    </div>
</div>