<!-- <p>change-city works!</p> -->
<div class="searchCity" *ngIf="changeCityValue">
    <div class="searchCity__container">
        <div class="searchBox">
            <span class="searchBox__icon searchBox__icon--search"><img src='../../assets/search.png'></span>
            <input type="text" class="searchBox__input" placeholder="Search City...">
            <span (click)='changeValue()' class="searchBox__icon searchBox__icon--close"><img
                    src='../../assets/cross.png'></span>
        </div>
        <div class="searchCity__contentBox">
            <div class="searchCity__item">
                <div class="searchCity__title">Banglore</div>
                <div class="searchCity__description">122 Resource Items</div>
            </div>
            <div class="searchCity__item">
                <div class="searchCity__title">Varanasi</div>
                <div class="searchCity__description">544 Resource Items</div>
            </div>
            <div class="searchCity__item">
                <div class="searchCity__title">Pune</div>
                <div class="searchCity__description">123 Resource Items</div>
            </div>
            <div class="searchCity__item">
                <div class="searchCity__title">Chandigarh</div>
                <div class="searchCity__description"> 12 Resource Items</div>
            </div>
            <div class="searchCity__item">
                <div class="searchCity__title">Vadodara</div>
                <div class="searchCity__description">544 Resource Items</div>
            </div>
            <div class="searchCity__item">
                <div class="searchCity__title">Gaya</div>
                <div class="searchCity__description">46 Resource Items</div>
            </div>

        </div>

    </div>
</div>