<div class="searchCity" *ngIf="changeCityValue">
    <div class="searchCity__container">
        <div class="searchBox">
            <span class="searchBox__icon searchBox__icon--search"><img src='../../assets/search.png'></span>
            <input (input)="handleChange()" type="text" class="searchBox__input" placeholder="Search City...">
            <span (click)='changeValue()' class="searchBox__icon searchBox__icon--close"><img
                    src='../../assets/cross.png'></span>
        </div>
        <div class="searchCity__contentBox">
            <div *ngFor='let result of results' class="searchCity__item">
                <div class="searchCity__title"><img src="{{result.avatar_url}}"></div>
                <div class="searchCity__description">{{result.name}}</div>
            </div>
        </div>

    </div>
</div>