<div *ngIf='showSample' class="samplePopup popup">
    <div class="samplePopup_head">
        <h3 class="samplePopup_title">Sample Data</h3>
        <span (click)='hideSampleData()' class="samplePopup_icon"><img src='assets/cross.png'></span>
    </div>
    <div class="samplePopup_body">
        <div class="samplePopup_item">
                <!-- <h3>{{item.key}}</h3>
                <p>{{item.value}}</p> -->
                <pre>{{ sampleData | json}}</pre>
        </div>
    </div>
</div>
<div [ngClass]="{fadeIn:overlay}"></div>
