<header>
  <div class="main-container">
    <div class="menu-container">
      <div class="menu">
        <a (click)='openMenu()'>
          <img src="assets/menu.png" alt="">
        </a>
      </div>

      <div class="logo">
        <a href="/">
          <img src="assets/iudx-logo.png" height="40px">
          <img src="{{city.logo}}" *ngIf="city"  height="60px">
        </a>
      </div>
    </div>

    <div class="search-box" [ngClass]="{'border-style': query != ''}">
      <img (click)="getSearchResultsByText(query)" src="assets/search.png" alt="search"/>
      <input type="text" name='input' placeholder="Search for datasets. eg. mobility, transport..." (input)="filterItems(query)" [(ngModel)]="query" />
      <div *ngIf="query != ''" class="searchBox-dropdown">
        <ul *ngIf="filteredTags.length != 0">
          <li *ngFor="let item of filteredTags; let i = index">
            <p (click)='getSearchResultsByTag(item.tag)'>
              <span class='tagSelected'>{{item.tag | titlecase}}</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
   
    <div class="btn-container">
      <a *ngIf="router_url !== '/geo-query' && city" (click)="OpenGeoQuery()"> Make Geo Query</a>
    </div>
  </div>
</header>
<app-menu *ngIf="popup_status && popup_type === 'menu'"></app-menu>
