a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  padding: 20px 25px;
}

.header,
.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  width: 375px;
  position: relative;
}

.navList {
  flex-basis: 100%;
}

.navLink {
  font-weight: 600;
}

.logo {
  width: 130px;
}


// HOVER FUNCTIONALITY

.developers,
.documentation {
  top: 160%;
  position: absolute;
  width: 100%;
  z-index: 99999999;
  background: #fff;

}

.developers {
  right: 10%;
}

.documentation {
  right: 0%;
}


.developers__container,
.documentation__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--border);
  height: 100%;
  padding: 20px;
  border-radius: 8px;
}

.developers__item,
.documentation__item {
  color: var(--primary);
  font-size: 18px;
  padding: 15px 0;
}

.developers__description,
.documentation__description {
  color: #ccc;
  font-size: 16px;
}

.arrow {
  position: absolute;
  top: -15px;
  color: #ccc;

  &__developers {
    left: 50%;
    transform: translateX(-50%);
  }

  &__documentation {
    right: 15%;
  }
}
