.footer {
  background: #F4F4F4;
  padding: 10px 0;

  &__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
  }

  &__left {
    flex-basis: 50%;

    &--content {
      color: #8c8c8c;
      span {
        color: var(--primary);
        font-weight: 600;
      }

      a {
        color: #1f9787;
        border-bottom: 1px solid #1f9787;
        margin-left: 8px;
        font-weight: 600;
      }
    }
  }

  &__right {
    flex-basis: 50%;
  }

  ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    float: right;
  }

  li {
    color: #8c8c8c;
  }
}

.changeCity {
  font-weight: 500;
}

@media only screen and (max-width: 850px) {
  .footer__left{
    &--content{
      font-size: 12px;
    }
  }
  .footer__right{
    ul{
      min-width: 375px;

      li{
        font-size: 12px;
      }
    }
  }
}
