<footer>
    <div class="footer__container">
        <div class="footer__left">
            <p class='footer__left--content'>Showing content for: <span class="city">Varanasi</span><a
                    (click)='toggleChangeCity()' class="city__change"> Change City</a></p>
        </div>
        <div class="footer__right">
            <ul class="footer__list">
                <li class="footer__item">&copy; IUDX | 2019-2020</li>
                <li class="footer__item">About Us</li>
                <li class="footer__item">FAQs</li>
                <li class="footer__item">Help & Support</li>
            </ul>
        </div>
    </div>
</footer>
<app-change-city *ngIf="showChangeCity" (showChangeCity)="getChangeCity($event)"></app-change-city>