li {
  list-style-type: none;
}

.footer {

  background: #F4F4F4;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px 0;

  &__container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 25px;
  }

  &__left {
    flex-basis: 50%;

    &--content {
      color: #8c8c8c;
    }
  }

  &__right {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
  }

  &__list {
    width: 70%;
    display: flex;
    justify-content: space-between;
    min-width: 500px;
  }

  &__item {
    color: #8c8c8c;
  }
}

.changeCity {
  font-weight: 500;
}

.city {
  color: var(--primary);
  font-weight: 600;

  &__change {
    color: green;
    border-bottom: 1px solid green;
    font-weight: 600;
    margin-left: 8px;
  }
}

// .light-gray {
//   background-color: red
// }

.fadeIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, .1);
  opacity: 0;
  visibility: hidden;
}
