<footer>
    <div class="col_left">
      <ul>
        <li>@IUDX 2020. All rights reserved</li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="col_right">
      <p>Our Collaborators</p>
      <ul>
        <li><a href=""><img src="../../assets/iisc_logo 1 1.png" alt=""></a></li>
        <li><a href=""><img src="../../assets/smart-cities-logo 1.png" alt=""></a></li>
        <li><a href=""><img class='logo_big' src="../../assets/MoHUA1 1.png" alt=""></a></li>
      </ul>
    </div>
  </footer>