<footer class='footer'>
    <div class="footer__container">
        <div class="footer__left" *ngIf="city">
            <p class='footer__left--content'>Showing content for: <span>{{city.name}}</span><a (click)='toggleChangeCity()'>Change City</a></p>
        </div>
        <div class="footer__right">
            <ul>
                <li>&copy; IUDX | 2019-2020</li>
                <li><a href='#'>About Us</a></li>
                <li><a href='#'>FAQs</a></li>
                <li><a href='#'>Help & Support</a></li>
            </ul>
        </div>
    </div>
</footer>
<div [ngClass]="{fadeIn:overlay}"></div>
<app-change-city *ngIf="showChangeCity" (showChangeCity)="getChangeCity($event)" (showOverlay)="getOverlayValue($event)"></app-change-city>