<div class="content-container">
  <!-- <div class="overview"> -->
    <!-- <div class="sample-data-table">
      <h2>
        Sample Data
      </h2>
      <table>
        <tr>
          <th *ngFor="let data of latestData[0] | keyvalue">{{data.key}}</th>
        </tr>
        <tr *ngFor="let data of latestData|keyvalue">
          <ng-container *ngFor="let item of latestData[data.key] | keyvalue">
            <td>{{item.value}}</td>
          </ng-container>
        </tr>
      </table>
    </div> -->
    <div class="results-div">
      <h2>
        Data Descriptors
      </h2>
      <div class="box-style" *ngFor="let resource of data_descriptor; let i = index;">
        <h4 (click)="toggle(i)">
          {{ resource[0].value }}
          <img src="assets/drop-arrow-green.png" style="transform: rotate(180deg)" *ngIf="flags[i]">
          <img src="assets/drop-arrow-green.png" *ngIf="!flags[i]">
        </h4>
        <div *ngIf="flags[i]">
          <div *ngFor="let key of resource;let i=index;">
            <div *ngIf="i != 0 && key.level == 1">
              <p>
                        <span>
                            {{key.key}}:
                        </span>
                {{key.value}}
              </p>
            </div>
            <div *ngIf="i != 0 && key.level == 2">
              <p>
                        <span>
                            {{key.key}}:
                        </span>
              </p>
              <div *ngFor="let item of key.value" class="level_2">
                <p>
                            <span>
                                {{item.key}}:
                            </span>
                  {{item.value}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
