.overview {

  h2{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 18px;
    color: var(--secondary);
  }
  display: flex;
  justify-content: space-between;
  .sample-data-table {
    width: calc(100% - 500px - 25px);

    table, th, tr {
      border: 1px solid var(--border);
      border-collapse: collapse;
    }

    table {
      max-width: 100%;
      overflow-x: auto;
      display: block;
      background: var(--white);
      th {
        padding: 10px 12px;
        font-weight: 700;
        font-size: 12px;
        text-align: left;
        &:nth-child(1){
          width: 200px;
        }
      }

      tr {
        &:nth-child(1){
          border-bottom: none;
        }
        &:nth-child(2){
          border-top: none;
        }
        td {
          padding: 5px;
          font-weight: 300;
          text-align: left;

        }
      }
    }


  }
}

.results-div {
  background: var(--off-white);
  width: 500px;
  .box-style {
    align-items: center;
    transition: background-color 0.2s;
    margin-bottom: 5px;
    background: var(--white);
    padding: 11px 20px 11px 30px;

    h4 {
      color: var(--highlight);
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        color: var(--tertiary);
      }

      img {
        width: 15px;
        float: right;
      }
    }

    p {
      padding-top: 10px;
      color: var(--secondary);
    }

    p {
      img {
        width: 20px;
        vertical-align: sub;
        margin-left: 10px;
        cursor: pointer;
      }
    }

    a {
      color: var(--highlight);
      font-weight: 600;
      display: inline-block;
      margin-top: 15px;
      margin-right: 30px;
    }

    p:first-child {
      color: var(--secondary);
      padding-top: 20px;
      font-weight: 500;
    }

    p > span {
      color: var(--tertiary);
      // font-weight: 500;
    }

    a:hover {
      text-decoration: underline;
      color: var(--highlight);
    }
  }

  .box-style:last-of-type {
    border: none;
  }
}

.pagination-box {
  left: 50%;
  padding: 30px 0;
}

.level_2 {
  margin-left: 30px;
}
