<app-header></app-header>
<div class="container">
  <div class="wid100">
    <div class="wid70">
      <div class="button-group">
        <img (click)="back()" src="./assets/back.png" alt="back" class="back">
        <span>Geo Query</span>
        <a (click)="open_filter()">Filters</a>
      </div>
      <div class="map_container"  id="map"
      leaflet
      (leafletMapReady)="onMapReady($event)"
      [leafletOptions]="options">
        <div
            class="leaflet-left leaflet-top"
            leafletDraw
            [leafletDrawOptions]="drawOptions"
            (leafletDrawCreated)="onDrawCreated($event)"
            (leafletDrawDeleted)="onDrawDeleted($event)"
            (leafletDrawEdited)="onDrawEdited($event)">
        </div>
        <div [leafletLayer]="drawnItems"></div>
      </div>
    </div>
    <div class="wid30">
      <h2>Map view for <span>Dataset(s)</span></h2>
      <ul>
        <li *ngFor="let item of grades;let i=index;">
          <div *ngIf='markerValues[i];else polygonShaped'><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" [attr.fill]="pathFillColor[i]" width="48px" height="48px"><path d="M0 0h24v24H0z" fill="none"/><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/></svg></div>
          <ng-template #polygonShaped><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                           [attr.fill]="pathFillColor[i]" width="20px"
                                           height="30px"
                                           outline="5px solid white"><path d="M12 4C9.24 4 7 6.24 7 9c0 2.85 2.92 7.21 5 9.88 2.11-2.69 5-7 5-9.88 0-2.76-2.24-5-5-5zm0 7.5c-1.38 0-2-1.12-2-2s1.12-2 2-2 2 1.12 2 2-1.12 2-2 2z" opacity="1" stroke="white" stroke-width="0.5" /><circle cx="12" cy="9.5" r="2" fill="white"/></svg></ng-template>
          <p title="{{item}}">{{item}}</p>
      </li>
      </ul>
    </div>
  </div>
</div>
<!-- <app-geo-query-filters *ngIf="popup_status && popup_type == 'geo-filter'"></app-geo-query-filters> -->
<app-latest-data *ngIf="popup_status && popup_type == 'latest-data'"></app-latest-data>
