<div class="overlay">
  <div class="popup">
    <div class="head">
      <h2>Latest Data</h2>
      <img (click)="close()" src="./assets/close.png" alt="close">
    </div>
    <div *ngIf="private">
      <h4>This is a protected resource. Access to
      this resource requires a valid token.</h4>
      <input type="text" name="token" placeholder="Enter token here . . .">
      <a>Get Latest Data</a>
      <p>
      * If you don’t have token with you, please contact us and
      we will guide you through the authentication process.
      </p>
    </div>
    <div *ngIf="!private">
      <div class="code_container">
        <code>
          {{latestData?.results | json}}
        </code>
      </div>
    </div>
  </div>

</div>
