<div  *ngIf="showLatest" class="samplePopup">
  <div class="samplePopup_container">
    <div class="samplePopup_head">
      <h3 class="samplePopup_title">Latest Data</h3>
      <span (click)='hideLatestData()' class="samplePopup_icon"><img src='assets/cross.png'></span>
    </div>
    <ul class='samplePopup-list'>
      <li class='samplePopup-items'>
        <pre id="json_id" class='key'>{{latestData?.results | json}}</pre>
        <!-- :<span  class='value'>{{data.value | json}}</span> -->
      </li>
    </ul>
  </div>
    
  </div>
  
  <div [ngClass]="{fadeIn:overlay}"></div>


