<div class="overlay" ></div>
<nav>
    <div class="menu-content">
      <img class="close-btn" (click)="closeMenu()" src="assets/close-btn.png" alt="close">
      <div class="col_style">
        <h1>Menu</h1>
        <ul>
          <li ><a class="outer-list" href="/">Home</a></li>
          <li class="outer-list">Developers
            <ul class="inner-list">
              <li class="first-list">
                <a href="https://api.catalogue.iudx.org.in/apis" target="_blank">
                  Catalogue API Docs
                </a>
              </li>
              <li>
                <a href="https://rs.iudx.org.in/apis" target="_blank">
                  Resource Server API Docs
                </a>
              </li>
              <li>
                <a href="https://authdocs.iudx.org.in/" target="_blank">
                  Auth Server API Docs
                </a>
              </li>
            </ul>
          </li>
          <li class="outer-list">Documents
            <ul class="inner-list">
              <li class="first-list">
                <a href="https://github.com/datakaveri/iudx-readme" target="_blank">Getting Started</a>
              </li>
              <li>
                <a href="https://iudx.s3.ap-south-1.amazonaws.com/unified_document_architecture.pdf" target="_blank">Unified Data
                  Exchange Architecture</a>
              </li>
              <li>
                <a target="_blank" href="https://iudx.org.in/overview">Overview</a>
              </li>
            </ul>
          </li>
          <li class="outer-list">
            <a class="about" href="https://iudx.org.in/">About Us</a>
          </li>
        </ul>
      </div>
      <div class="col_style panel">
        <h1>Provider / Consumer Panel</h1>
        <h2>Go to Accounts</h2>
        <a href="https://accounts.iudx.org.in/" target="_blank">Register with Us</a>
        <h1 *ngIf = "city" style="margin-top: 50px;">Current City</h1>
        <h2  *ngIf = "city">{{current_city}}</h2>
        <a *ngIf = "city" (click)="open_city_popup()">Change City</a>
        <!-- <a *ngIf = "!city" (click)="open_city_popup()">Choose City</a> -->
      </div>
      <div class="change-city col_style">
        <h1>
          Complementary Datasets for<br>Innovative Solutions
          <img src="assets/info.png" (mouseenter)="toggle_popup(true)" (mouseleave)="toggle_popup(false)">
          <div class="info-text" *ngIf="show_info">
            Application developers may find these non-IUDX data sets useful while developing innovative applications and solutions. The discovery and data access mechanisms are different from IUDX and the users will need to follow the mechanisms specified by the provider of these datasets.
          </div>
        </h1>
        <ul>
          <li><a class="outer-list" href="https://apisetu.gov.in/" target="_blank"><img src="assets/api_setu.png"></a></li>
        </ul>
      </div>
    </div>
</nav>
<app-change-city *ngIf="popup_status && popup_type === 'city-popup'"></app-change-city>
