/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.1); /* var(--black) w/ opacity */
}

/* Modal Content */
.modal-content {
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: calc(100% - 100px);
}
  
.header {
    font-size: 20px;
    color: var(--black);
    margin-bottom: 20px;
    font-weight: 600;
}

p {
    span {
        font-weight: bold;
    }
}

a {
    font-weight: 600;
    color: var(--green);
    float: right;
}