<app-header></app-header>
<div class="map-border">
  <a class="back" (click)="back()">
    <img src="assets/back.png"> Back
  </a>
    <div
        id="map"
        leaflet
        (leafletMapReady)="onMapReady($event)"
        [leafletOptions]="options"
        [leafletMarkerCluster]="markerClusterData"
        [leafletMarkerClusterOptions]="markerClusterOptions"
        (leafletMarkerClusterReady)="markerClusterReady($event)">
        <div
            class="leaflet-left leaflet-top"
            leafletDraw
            [leafletDrawOptions]="drawOptions"
            (leafletDrawCreated)="onDrawCreated($event)"
            (leafletDrawDeleted)="onDrawDeleted($event)"
            (leafletDrawEdited)="onDrawEdited($event)">
        </div>
        <div [leafletLayer]="drawnItems"></div>
        <div class="legends">
            <li *ngFor="let item of grades;let i=index;">
                <div *ngIf='markerValues[i];else polygonShaped'><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" [attr.fill]="pathFillColor[i]" width="48px" height="48px"><path d="M0 0h24v24H0z" fill="none"/><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/></svg></div>
                <ng-template #polygonShaped><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" [attr.fill]="pathFillColor[i]" width="30px" height="30px" outline="5px solid white"><path d="M12 4C9.24 4 7 6.24 7 9c0 2.85 2.92 7.21 5 9.88 2.11-2.69 5-7 5-9.88 0-2.76-2.24-5-5-5zm0 7.5c-1.38 0-2-1.12-2-2s1.12-2 2-2 2 1.12 2 2-1.12 2-2 2z" opacity="1" stroke="white" stroke-width="0.5" /><circle cx="12" cy="9.5" r="2" fill="white"/></svg></ng-template>
                <p title="{{item}}">{{item}}</p>
            </li>
        </div>
    </div>
    <div class="filter_popup" *ngIf="show_filter">
        <div class="header">
            FILTERS
            <img src="assets/cross.png" (click)="closeFilter()" />
        </div>
        <p class="mandatory" *ngIf="searchQuery.resource_groups.length == 0">* Please select one or more {{texts.resource_groups}}.</p>
        <h4>
            Filter by {{texts.resource_groups}}(s)
        </h4>
        <div class="input_div">
            <input placeholder="Search {{texts.resource_groups}} . . ." [(ngModel)]="search.group" (ngModelChange)="filter_by_group()">
            <img src="assets/search.png">
        </div>
        <div class="scroll_div">
            <ul>
                <li *ngFor="let dataset of filtered_resource_groups" (click)="toggle_dataset(dataset.id)" title="{{ dataset.label }}">
                    <img src="assets/unchecked.png" *ngIf="!find_group_status(dataset.id)" />
                    <img src="assets/checked.png" *ngIf="find_group_status(dataset.id)" />
                    {{ dataset.label }}
                </li>
              <li *ngIf="filtered_resource_groups.length === 0">
                No Dataset found
              </li>
            </ul>
        </div>
        <div class="button_div">
            <button class="side_button" (click)="clear()">Clear All Filters</button>
            <button class="main_button" (click)="apply()">Apply Filters</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
