#map {
  height: calc(100vh - 100px - 100px);
  z-index: 0;
  margin: 25px;
  border: 2px solid var(--border);
}

.filter_popup {
  width: calc(400px - 50px);
  padding: 25px;
  height: calc(100vh - 50px);
  top: 0;
  right: 0;
  background: var(--white);
  position: fixed;
  z-index: 10000000000;
  box-shadow: 1px 0 5px 1px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  .header {
    font-size: 16px;
    font-weight: 600;
    img {
      width: 15px;
      float: right;
      cursor: pointer;
    }
  }
  h4 {
    font-weight: 500;
    margin: 30px 0;
    color: var(--tertiary);
    img {
      width: 15px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  .scroll_div {
    max-height: 275px;
    overflow-y: auto;
    border: 1px solid var(--border);
    border-radius: 5px;
    ul {
      list-style: none;
      li {
        color: var(--secondary);
        padding: 15px;
        text-transform: capitalize;
        cursor: pointer;
        img {
          width: 25px;
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
  }
  .button_div {
    margin: 50px 0 0 0;
    button {
      padding: 8px 12px;
      font-weight: 500;
      width: 47.5%;
    }
    .main_button {
      background-color: var(--highlight);
      border: 1px solid var(--highlight);
      color: var(--white);
    }
    .side_button {
      background-color: var(--white);
      border: 1px solid var(--border);
      color: var(--error);
      margin-right: 5%;
    }
  }
}

