#header{
    height: 85.05px;
    width: 100%;
}

#holder {
    min-height: 100%;
    position:relative;
}

#body {
    padding-bottom: 51px;
}

#footer{
    bottom: 0;
    height: 51px;
    left: 0;
    position: absolute;
    right: 0;
}