<div class="results-div">
  <div class="box-style" *ngFor="let resource of resource?.items">
    <h4>
      {{ resource.name }}
      <img src="assets/locked.png" *ngIf="resourceAuthControlLevel != 'OPEN'">
      <img src="assets/unlocked.png" *ngIf="resourceAuthControlLevel == 'OPEN'">
    </h4>
    <p>
      <span>{{texts.resource_items}} ID: </span>{{ resource.id }}
      <img src="assets/copy.png" title="Copy {{texts.resource_items}} ID" (click)="copy(resource.id)">
    </p>
    <p>
      <span>Description: </span>{{ resource.description }}
    </p>
    <p>
      <span>{{texts.providers}}: </span>{{ resource.provider.description }}
    </p>
    <!-- <p>
        <span>Location: </span>{{ resource.location.address }}
    </p> -->
    <a *ngIf="resourceAuthControlLevel == 'OPEN'" (click)="showLatestData()">Get Latest Data</a>
    <a class="red" *ngIf="resourceAuthControlLevel != 'OPEN'">Request Access</a>
  </div>
</div>


<div [ngClass]="{fadeIn:overlay}"></div>
<router-outlet></router-outlet>