<app-header></app-header>
<div class="content-container">
  <div class="item-results-div">
    <div class="box-style" *ngFor="let resource of resource?.items">
      <h4>
        {{ resource.name }}
      </h4>
      <p>
        <span>{{texts.resource_items}} ID:
        </span><span class='id'>{{ resource.id.length > 88 ? resource.id.substring(0,88)+'.....' : resource.id }}
        <img src="assets/copy.png" title="Copy {{texts.resource_items}} ID" (click)="copy(resource.id)"></span>
      </p>
      <p>
        <span>Description: </span>{{ resource.description }}
      </p>
      <div class="links-div">
      <a *ngIf="descriptor_items" (click)="showDataDescriptor(resource.dataDescriptor)">Show Data Descriptor</a>
      <a *ngIf="resourceAuthControlLevel == 'OPEN'" (click)="showLatestData()">Get Latest Data</a>
      <a (click)="showSampleData(resource.dataSample)">Get Sample Data</a>
      <!-- <a *ngIf='dataSample' (click)="showSampleData(dataSample)">Get Sample Data</a> -->
      <!-- <a class="red" *ngIf="resourceAuthControlLevel != 'OPEN'">Request Access</a> -->
      </div>
      
      <!-- <a *ngIf='!resource.resource_group.dataDescriptor'>Data Descriptor</a> -->
      <div _ngcontent-jvd-c49="" class = "results-item-shade" [ngClass] ="{'darkgreen': resourceAuthControlLevel == 'OPEN',
      'lightgreen': resourceAuthControlLevel != 'OPEN'}"></div>
    </div>
  </div>
  <div *ngIf="resource.resource_group.dataDescriptor" class="descriptor-results-div">
    <h2>
      Data Descriptors: <span>{{ resource.resource_group.label }} </span>
    </h2>
    <div class="box-style" *ngFor="let resource of data_descriptor; let i = index;">
      <h4 (click)="toggle(i)">
        {{ resource[0].value }}
        <img src="assets/drop-arrow-green.png" style="transform: rotate(180deg)" *ngIf="flags[i]">
        <img src="assets/drop-arrow-green.png" *ngIf="!flags[i]">
      </h4>
      <div *ngIf="flags[i]">
        <div *ngFor="let key of resource;let i=index;">
          <div *ngIf="i != 0 && key.level == 1">
            <p>
              <span>
                {{key.key}}:
              </span>
              {{key.value}}
            </p>
          </div>
          <div *ngIf="i != 0 && key.level == 2">
            <p>
              <span>
                {{key.key}}:
              </span>
            </p>
            <div *ngFor="let item of key.value" class="level_2">
              <p>
                <span>
                  {{item.key}}:
                </span>
                {{item.value}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showDescriptor" class="descriptor-results-div">
    <h2>
      Data Descriptors: <span>{{ label }} </span>
    </h2>
    <div class="box-style" *ngFor="let resource of data_descriptor; let i = index;">
      <h4 (click)="toggle(i)">
        {{ resource[0].value }}
        <img src="assets/drop-arrow-green.png" style="transform: rotate(180deg)" *ngIf="flags[i]">
        <img src="assets/drop-arrow-green.png" *ngIf="!flags[i]">
      </h4>
      <div *ngIf="flags[i]">
        <div *ngFor="let key of resource;let i=index;">
          <div *ngIf="i != 0 && key.level == 1">
            <p>
              <span>
                {{key.key}}:
              </span>
              {{key.value}}
            </p>
          </div>
          <div *ngIf="i != 0 && key.level == 2">
            <p>
              <span>
                {{key.key}}:
              </span>
            </p>
            <div *ngFor="let item of key.value" class="level_2">
              <p>
                <span>
                  {{item.key}}:
                </span>
                {{item.value}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
