<app-header></app-header>
<div class="results-div">
  <div class="box-style" *ngFor="let resource of resource?.items">
    <h4>
      {{ resource.name }}
    </h4>
    <p>
      <span>{{texts.resource_items}} ID: </span>{{ resource.id.length > 85 ? resource.id.substring(0,85)+'.....' : resource.id }}
      <img src="assets/copy.png" title="Copy {{texts.resource_items}} ID" (click)="copy(resource.id)">
    </p>
    <p>
      <span>Description: </span>{{ resource.description }}
    </p>
    <a *ngIf="resourceAuthControlLevel == 'OPEN'" (click)="showLatestData()">Get Latest Data</a>
    <a class="red" *ngIf="resourceAuthControlLevel != 'OPEN'">Request Access</a>
    <div _ngcontent-jvd-c49="" class="results-item-shade green"></div>
  </div>
</div>
<router-outlet></router-outlet>