<div class="cards-div">
  <div class="box-style" *ngFor="let item of resource_items">
    <p>
      {{ item.name }}
    </p>

    <p>{{ item.description }}</p>
    <p><span>Tags: </span>{{ item.tags }}</p>

    <p><span>Status: </span>{{ item.status }}</p>
    <p><span>Created At: </span>{{ item.created_at | date: "medium" }}</p>
    <p><span>Modified At: </span>{{ item.modified_at | date: "medium" }}</p>
    <p><span>Provider: </span>{{ item.provider }}</p>
    <p>
      <span>Resource group:</span>
      {{ item.resource_group }}
    </p>
    <p><span>Location: </span>{{ item.location.address }}</p>

    <div class="link-container">
      <a>
        <h2>View Details</h2>
      </a>

      <a>
        <h2>Get Latest Data</h2>
      </a>
    </div>
  </div>
</div>
<div class="pagination-box">
  <app-pagination></app-pagination>
</div>
