<div class="content-container">
    <div class="para-div" *ngIf="show_data">
        <a class="back" (click)="back()">
            <img src="assets/back.png"> Back
        </a>
        <p>
            <span>{{ results.count }}</span>
            <span> {{texts.resource_items}}(s) for </span>
            <span>{{ search_text }}</span>
        </p>
    </div>
    <div class="results-div">
        <div class="box-style" *ngFor="let resource of results?.items">
            <h4>
                {{ resource.name }}
                <img src="assets/copy.png" title="Copy {{texts.resource_items}} ID" (click)="copy(resource.id)">
            </h4>
            <p>
                <span>Description: </span>{{ resource.description }}
            </p>
            <p>
                <span>{{texts.providers}}: </span>{{ resource.provider.description }}
            </p>
            <p>
                <span>Location: </span>{{ resource.location.address }}
            </p>
            <a>View Details</a>
            <a>Get Latest Data</a>
        </div>
    </div>
</div>