.cards-div {
  .box-style {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: calc(100%-65px);
    transition: background-color 0.2s;
    margin-bottom: 10px;
    padding: 0px 15px 15px;
    p,
    h2 {
      padding-top: 10px;
    }
    h2 {
      color: #34925e;
    }
    p:first-child {
      color: var(--primary);
      font-weight: 500;
      font-size: 15px;
    }
    p > span {
      color: var(--tertiary);
    }
    .link-container {
      display: flex;
      align-items: center;
      a:hover {
        text-decoration: underline;
        color: #34925e;
      }
      a > h2 {
        font-weight: 500;
        padding-right: 15px;
      }
    }
  }
}

.pagination-box {
  // left: 50%;
  padding: 30px 0;
}
