.main-content {
  position: relative;
}

.filter-div {
  display: flex;
}

// .filter-div hr {
//   width: 12%;
// }
.filter-div img {
  width: 20px;
  padding-left: 15px;
}

.search-style {
  border-bottom: 1px solid rgb(209, 200, 200);
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 7px;
}

.search-style img {
  // padding-left: 20px;
  width: 20px;
}

.search-style input {
  // margin-top: 30px;
  padding-left: 10px;
  border: none;
}

.box-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.box-left {
  flex-basis: 17%;
}

.box-left-container {
  width: 100%;
}

.checkbox-container {
  display: block;
  padding-bottom: 15px;
}

.box-style {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  // width: calc(100%-65px);
  transition: background-color 0.2s;
  margin-bottom: 10px;
  padding: 0px 15px 15px;
}

.box-style p,
.box-style h2 {
  padding-top: 10px;
}

.box-style h2 {
  color: #34925e;
}

.box-style a:hover {
  text-decoration: underline;
  color: #34925e;
}

.highlight-style {
  color: var(--tertiary);
}

.checkbox-round {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid rgb(119, 117, 117);
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: gray;
}

.link-container {
  display: flex;
  align-items: center;
}

.bold-color {
  color: var(--primary);
  font-weight: 500;
  font-size: 15px;
}

.pagination-box {
  // position: fixed;
  //   border: 1px solid red;
  left: 50%;
  padding: 30px 0;
  // top: 85%;
}

.cards-div {
  width: 100%;
}

.para-style p {
  color: rgb(148, 145, 145);
}

.box-style a > h2 {
  font-weight: 500;
}
