<div class="pagination-container" aria-label="Pagination">
  <ul>
    <li>
      <a
        href="javascript:;"
        [ngClass]="{ enable: prevBtn == false }"
        class="pagination-link"
        (click)="getPreviousPage()"
        aria-label="Previous"
      >
        &lt;
      </a>
    </li>
    <li class="pagination-item-value" *ngFor="let page of pages">
      <a
        href="javascript:;"
        (click)="setPage(page)"
        [ngClass]="{ active: page == current }"
        >{{ page }}</a
      >
    </li>
    <li>
      <a
        href="javascript:;"
        [ngClass]="{ enable: nextBtn == false }"
        (click)="getNextPages()"
        aria-label="Next"
      >
        &gt;
      </a>
    </li>
  </ul>
</div>
