.pagination-container {
  display: flex;
  justify-content: center;
  ul li {
    display: inline-block;
  }

  ul li .active {
    color: var(--primary);
  }

  ul li .enable {
    opacity: 0.3;
  }
  ul li a img {
    width: 20px;
    height: 15px;
    // padding: 0px 10px;
  }
  .pagination-item-value a {
    padding: 0 6px;
    color: var(--tertiary);
    font-size: 18px;
  }
}
