@import "../../styles";

.advanceSearch {
  &__header {
    padding: 30px;
    position: relative;

    h3 {
      text-align: center;
      font-size: 18px;
    }
  }

  &__wrapper {
    @include centerer;
    width: 800px;
    border-radius: 10px;
    border: 1px solid var(--border);
    background-color: #fff;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
    z-index: 2;

    ul {
      padding: 10px 30px 30px 30px;

      li {
        display: flex;
        align-items: center;
        justify-content: space-around;

        h3 {
          font-size: 16px;
          width: 15%;
        }

        p {
          width: 80%;
        }

        input {
          box-sizing: border-box;
          font-weight: 500;
          width: 100%;
          padding: 8px;
          border: none;
          border-bottom: 1px solid var(--border);
        }

        &:last-child {
          margin: 50px 0 20px 0;
        }

        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }

  h3 {
    color: var(--primary);
    font-weight: 500;
  }
}

.searchButton__container {
  display: flex;
  justify-content: space-between;
  width: 385px;

  a {
    @include searchButton;
  }
}

::placeholder {
  color: var(--tertiary);
}

.searchBox__icon {
  position: absolute;
  right: 5%;
  top: 33px;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 20px;
  }
}
