<!-- <p>advanced-search works!</p> -->
<div class="advanceSearch">
    <h3 class="advanceSearch__title">Advanced Search</h3>
    <div class="advanceSearch__container">
        <div class="advanceSearch__item">
            <div class="advanceSearch__type">Description:</div>
            <div class="advanceSearch__input">
                <input type="text" class="advanceSearch__inputBox" placeholder="Search by description...">
            </div>
        </div>
        <div class="advanceSearch__item">
            <div class="advanceSearch__type">Tag:</div>
            <div class="advanceSearch__input">
                <input type="text" class="advanceSearch__inputBox" placeholder="Search by description...">
            </div>
        </div>
        <div class="advanceSearch__item">
            <div class="advanceSearch__type">Publisher:</div>
            <div class="advanceSearch__input">
                <input type="text" class="advanceSearch__inputBox" placeholder="Search by description...">
            </div>
        </div>
        <div class="advanceSearch__item">
            <div class="advanceSearch__type">Type:</div>
            <div class="advanceSearch__input">
                <input type="text" class="advanceSearch__inputBox" placeholder="Search by description...">
            </div>
        </div>
        <div class="advanceSearch__item">
            <div class="advanceSearch__type">Datasets:</div>
            <div class="advanceSearch__input">
                <input type="text" class="advanceSearch__inputBox" placeholder="Search by description...">
            </div>
        </div>
        <div class="advanceSearch__item">
            <div class="advanceSearch__type"></div>
            <div class="advanceSearch__input">
                <a href="" class="searchButton btn__dataset">Search Dataset</a>
                <a href="" class="searchButton btn__geoQuery">Search Geo-Query</a>
            </div>
        </div>
    </div>
</div>