<!-- <p>advanced-search works!</p> -->
<!-- <div class="advanceSearch"> -->
    <div class="advanceSearch__wrapper">
        <div class="advanceSearch__header">
            <h3 class="advanceSearch__title">Advanced Search</h3>
            <span (click)="changeValue()" class="searchBox__icon searchBox__icon--close"><img
                    src='../../assets/cross.png'></span>
        </div>
        <ul>
            <li>
                <h3>Description:</h3>
                <p><input type="text" placeholder="Search by description..."></p>
            </li>
            <li>
                <h3>Tag:</h3>
                <p><input type="text" placeholder="Search by tag..."></p>
            </li>
            <li>
                <h3>Publisher:</h3>
                <p><input type="text" placeholder="Search by publisher..."></p>
            </li>
            <li>
                <h3>Type:</h3>
                <p><input type="text" placeholder="Search by type..."></p>
            </li>
            <li>
                <h3>Datasets:</h3>
                <p><input type="text" placeholder="Search by datasets..."></p>
            </li>
            <li>
                <div class="searchButton__container">
                    <a href="" class="searchButton">Search Dataset</a>
                    <a href="" class="searchButton">Search Geo-Query</a>
                </div>
            </li>
        </ul>
    </div>
<!-- </div> -->