<div class="landingPage">
    <!-- <div class="fadeIn"></div> -->
    <div class="landingPage__container">
        <div class="landingPage__top">
            <p class="landingPage__tagline">Welcome to the IUDX compliant Catalogue of VSCL</p>
            <div class="searchBox">
                <span class="searchBox__icon"><img src='../../assets/search.png'></span>
                <input type="text" class="searchBox__input" placeholder="Search...">
                <a (click)='goToAdvanceSearch()' class="searchBox__text">Advanced Search</a>
            </div>
            <div class="searchButton__container">
                <a href="#" class="searchButton">Search Dataset</a>
                <a href="#" class="searchButton">Search Geo-Query</a>
                <a href="#" class="searchButton">View All Datasets</a>
            </div>
        </div>
        <div class="landingPage__bottom">
            <ul class="data__list">
                <li class="data__item">
                    <div class="data__item--title">Datasets</div>
                    <div class="data__item--content">{{data.resource_groups}}</div>
                </li>
                <li class="data__item">
                    <div class="data__item--title">Resources</div>
                    <div class="data__item--content">{{data.resource_items}}</div>
                </li>
                <li class="data__item">
                    <div class="data__item--title">Publishers</div>
                    <div class="data__item--content">{{data.api_calls}}</div>
                </li>
                <li class="data__item">
                    <div class="data__item--title">API Hits</div>
                    <div class="data__item--content">{{data.providers}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>

<app-advanced-search *ngIf='showAdvanceSearch' (showAdvanceSearch)="getAdvanceSearch($event)"></app-advanced-search>