
.menu-container {
  position: absolute;;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 32px;

  img {
    height: 30px;

  }
}
.main-container {
  height: 100vh;
  background-size: cover;

  .content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 960px;
    width: 100%;
    text-align: center;

    img {
      max-width: 250px;
      width: 100%;
    }

    h1 {
      font-size: 20px;
      color: var(--white);
    }

    p, span {
      font-size: 18px;
      margin-top: 40px;
    }

    h1, p {
      color: var(--white);
    }

    .search-box {
      display: flex;
      background: rgba(255, 255, 255, 0.8);
      width: 100%;
      max-width: 600px;
      margin: 40px auto;
      border-radius: 7px;
      
      &.border-style{
        border-radius:7px 7px 0 0;
      }

      input {
        border: none;
        width: 97%;
        height: 42px;
        background: none;

        
        &::placeholder {
          font-size: 15px;
        }
      }

      .img-container {
        display: flex;
        width: 50px;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 25px;
      }

    }

    .links-container {
      display: flex;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 40px;
        background: #F8F9FB;
        box-shadow: 2px 2px 5px rgba(124, 133, 255, 0.25);
        border-radius: 25px;

        &:first-child {
          margin-right: 20px;
        }

        .link-style {
          color: var(--blue);
          font-weight: 500;
          font-size: 16px;
          margin: 0;
        }
      }

    }
  }
}

.highlight {
  font-weight: 600;
  color: var(--white);
}

.stats {
  background-color: var(--off-white);
  padding: 60px 0;
}

.stats_data {
  ul {
    display: flex;
    justify-content: center;

    li {
      width: 25%;
      text-align: center;
    }
  }

  h1 {
    color: var(--blue);
    font-size: 80px;
    font-weight: 200;
  }

  p {
    color: var(--black);
    font-size: 18px;
  }
}

.cities {
  text-align: center;
  padding: 0 30px;
  margin: 40px 0px 12px 0px;

  h2, span {

    font-weight: 500px;
    font-size: 24px;

    span {
      color: var(--blue);
    }

  }

  h2 {
    color: var(--black);
  }

  h5 {
    font-size: 16px;
    color: var(--dark-grey);
    padding-top: 10px;
  }
}

.cities-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 60px 0;
  max-width: 1200px;
  margin: 0 auto;
  li {
    width: 25%;
    max-width: 250px;
    margin: 0 15px;

    a {
      color: var(--black);
      font-size: 16px;
      font-weight: 500;
      display: flex;
      flex-direction: column-reverse;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background: var(--white);
        width: 250px;
        height: 100px;
        margin-top: 12px;
      }
    }

    img {
      height: 60%;
      max-height: 75px;
    }
    
  }
  li:nth-child(n+5) {
    padding-top: 35px;
  }
  
}

.searchBox-dropdown {
  box-sizing: border-box;
  max-height: 220px;
  border: 0.5px solid var(--light-grey);
  border-top: 0;
  background-color: var(--white);
  z-index: 100;
  position: absolute;
  top: 80.5%;
  overflow-y: auto;
  width: 100%;
  max-width: 600px;
  text-align: left;

  ul {
    list-style: none;

    li {
      cursor: pointer;
      padding: 15px;

      &:hover {
        background-color: var(--off-white);
      }
    }
  }
}

