.landingPage{
  height: 100vh;
  background: linear-gradient(rgba(68, 68, 68, 0.75),rgba(68, 68, 68, 0.75)),url('../../assets/landingpagebg.jpg');
  background-size: cover;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  text-align: center;

  h2{
    font-size: 30px;
    margin-top: 20px;
  }

  .about{
    font-size: 16px;
    margin-top: 40px;
  }

  img{
    max-width: 300px;
  }

  .title,h2,p{
    color:var(--white);
  }
}

.searchBox {
  display: flex;
  background: rgba(255, 255, 255, 0.25);
  width: 600px;
  margin: 0 auto;
  margin-top: 40px;

  input {
    border: none;
    width: 97%;
    height: 42px;
    background: none;
    color: var(--white);
    &::placeholder{
      font-size: 16px;
      // color: var(--white);
    }
  }

  button {
    display: flex;
    background: none;
    border: none;
    width: 50px;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 16px;
  }
}

.categories{
  text-align: center;

  h2{
    font-size: 24px;
    font-weight: 500;
    padding-top: 40px;
  }

  p{
    font-size: 16px;
    padding-top: 10px;
  }

  &_container{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 50px 0;

    a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      border-radius: 50%;
      box-shadow: 5px 5px 15px 0 rgba(0,0,0,.1);
      background: var(--white);
      text-align: center;
      margin-bottom: 12px;
    }
    img{
      width: 30px;
    }
  }
}

.result{
  background: var(--off-white);
  padding: 60px 0;
  &_data{
    width: 1100px;
    margin: 0 auto;
    
    ul {
      display: flex;
      justify-content: center;

      li {
        width: 25%;
        text-align: center;
        h1{
          color: var(--highlight);
          font-size: 85px;
          font-weight: 300;
        }
        p {
          color: --var(--primary);
        }
      }
    }
  }
}

.cities{
  text-align: center;

  h5{
    color: var(--tertiary);
  }
 
  &_container{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0;

    a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
      height: 100px;
    }

    img{
      width: 170px;
    }
  }
    h2{
      font-size: 24px;
      font-weight: 500;
      padding-top: 40px;
    }
  
    p{
      color: var(--primary);
      font-size: 16px;
      padding: 10px 0;
      font-weight: 500;
    }
}

footer{
  background: var(--off-white);
  padding: 40px;
  display: flex;
  justify-content: space-between;

  .col_left{
    display: flex;
    align-items: center;
    li{
      margin-bottom: 15px;

      a{
        color: var(--tertiary);
      }
    }
  }

  .col_right{
    p{
      margin-bottom: 10px;
      color: var(--tertiary);
    }
    ul{
      display: flex;

      li{
        margin-right:40px;

        .logo_big{
          width:225px;
        }
      }

      img{
        width: 100px;
      }
    }
  }
}

/* header */

.header{
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  width: 100%;
}

.menu{
  margin-left: 25px;
  span{
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--white);
    position: absolute;
  }

  span:nth-child(1){
    top: 26px;
  }

  span:nth-child(2){
    top: 36px;
    width: 35px;
  }

  span:nth-child(3){
    top: 46px;
  }

}

.login_btn{
  border: 1px solid var(--white);
  padding: 8px 40px;
  margin: 26px 25px 0 0;
  color: var(--white);
  font-size: 16px;
}

.searchBox-dropdown {
  box-sizing: border-box;
  max-height: 240px;
  border: 1px solid var(--border);
  border-top: 0;
  background-color: var(--white);
  z-index: 100;
  position: absolute;
  top: 100%;
  overflow-y: auto;
  // width: calc(100% - 70px);
  width: 600px;
  text-align: left;

  .no_data {
    padding: 0 15px;
  }

  ul {
    list-style: none;

    li {
      cursor: pointer;

      p {
        padding: 15px;
        color: var(--primary);

        .tagSelected {
          font-weight: 600;
        }

        .count {
          float: right;
          color: var(--tertiary);
          font-weight: 400;
        }
      }

      &:hover {
        background-color: var(--off-white);
      }
    }
  }
}