<header class="header">
  <div class="menu">
    <input class='checkbox' type="checkbox" />
    <div class="menu_container btn not-active">
      <span></span>
      <span></span>
      <span></span>
    </div>
      <ul class="nav_list">
       <a href='#'><li>Developers</li></a>
       <a href='#'><li>Catalogue API Docs</li></a>
       <a href='#'><li>Resource Server API Docs</li></a>
       <a href='#'><li>Auth Server API Docs</li></a>
       <a href='#'><li>Documents</li></a>
       <a href='#'><li>Getting Started</li></a>
       <a href='#'><li>Overview</li></a>
       <a href='#'><li>About Us</li></a>
      </ul>
    

    
  </div>
  <div class="login_btn">
    <a href='https://accounts.iudx.org.in'>Login</a>
  </div>
</header>
<main>
  <div class="landingPage">
   
    <div class="container">
      <div class="title">
        <img src='../../assets/iudx_logo 1 (1).png' class='logo' alt='logo'>
      </div> 
      <h2>Indian Urban Data Exchange Catalogue</h2>
      <p class='about'>IUDX Program is a multidisciplinary program within the Indian Institute of Science (IISc), Bangalore,
        which focusses on the technical and non-technical issues related to the use of data to create public good.</p>
        <div class="searchBox">
          <button>
            <img src="../../assets/search-white.png" alt="search" (click)="getSearchResultsByText(query)"/>
          </button>
          <input type="text" name='input' autocomplete="off" (input)="filterItems(query)"
            placeholder="Search for datasets. eg. mobility, transport" (keydown)="keyDown($event)" [(ngModel)]="query"/>
          <div *ngIf="query != ''" class="searchBox-dropdown">
            <ul *ngIf="filteredTags.length != 0">
              <li tabIndex="-1" *ngFor="let item of filteredTags; let i = index" [class.active]="i == arrowkeyLocation">
                <p (click)='getSearchResultsByTag(item.tag)'>
                  <span class='tagSelected'>{{item.tag}}</span>
                </p>
              </li>
            </ul>
          </div>
          
        </div>
        <div class="buttons">
          <a (click)="getAllDatasets()"><span>View All Datasets</span></a>
          <a (click)="getGeoInfo()"><span>Geo Query</span></a>
        </div>
        
    </div>
  </div>
  <div class="categories">
    <h2>What to look for?</h2>
    <p>Here are the most frequently searched tags</p>

    <ul class="categories_container">
      <li><a href=""><div><img src="../../assets/Vector (11).png" alt=""></div>Street light</a></li>
      <li><a href=""><div><img src="../../assets/ion_bus-outline.png" alt=""></div>Urban Mobility</a></li>
      <li><a href=""><div><img src="../../assets/carbon_tree.png" alt=""></div>Environment</a></li>
      <li><a href=""><div><img src="../../assets/maki_waste-basket-11.png" alt=""></div>Waste Management</a></li>
      <li><a href=""><div><img src="../../assets/cil_library-building.png" alt=""></div>Civic</a></li>
    </ul>
  </div>

  <div class="result">
    <div class="result_data">
      <ul>
        <li>
          <h1>47</h1>
          <p>Datasets <img src='../../assets/information-circle-outline.svg'></p>
        </li>
        <li>
          <h1>295</h1>
          <p>Resources <img src='../../assets/information-circle-outline.svg'></p>
        </li>
        <li>
          <h1>3</h1>
          <p>Publishers <img src='../../assets/information-circle-outline.svg'></p>
        </li>
        <li>
          <h1>2.3K</h1>
          <p>Api Calls <img src='../../assets/information-circle-outline.svg'></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="cities">
    <h2>Where to start?</h2>
    <h5>Search and find datasets by city and region</h5>
    <ul class="cities_container">
      <li *ngFor="let city of cities ">
        <a href="https://{{city.key}}.catalogue.iudx.org.in" target="_self">
          <div><img
            src="{{city.logo}}" alt=""></div>
        {{city.name}}</a>
      </li>
    </ul>
  </div>
</main>
<footer>
  <div class="col_left">
    <ul>
      <li>@IUDX 2020. All rights reserved</li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Terms & Conditions</a></li>
    </ul>
  </div>
  <div class="col_right">
    <p>Our Collaborators</p>
    <ul>
      <li><a href=""><img src="../../assets/iisc_logo 1 1.png" alt=""></a></li>
      <li><a href=""><img src="../../assets/smart-cities-logo 1.png" alt=""></a></li>
      <li><a href=""><img class='logo_big' src="../../assets/MoHUA1 1.png" alt=""></a></li>
    </ul>
  </div>
</footer>
