<div class="landingPage-container">
    <p class="tagLine">Welcome to the IUDX compliant Catalogue of VSCL</p>
    <div class="search">
        <span class="search-icon"><img src='../../assets/search.png'></span>
        <input type="text" class="search-box" placeholder="Search...">
        <span class="search-text">Advanced Search</span>
    </div>
    <div class="buttonsContainer">
        <a href="#" class="search-btn">Search Dataset</a>
        <a href="#" class="search-btn">Search Geo-Query</a>
        <a href="#" class="search-btn">View All Datasets</a>
    </div>
</div>