.content-container {
  margin-top: calc(80.88px + 68.8px);

  h1 {
    font-size: 17px;
    font-weight: bolder;
  }

  .para-div {
    padding: 0px 25px;

    p span:nth-child(odd) {
      color: var(--primary);
      font-weight: 600;
    }

    p span:nth-child(even) {
      color: var(--tertiary);
    }
  }

  .back {
    display: block;
    margin: 15px 0;
    color: var(--tertiary);

    img {
      width: 25px;
      margin-bottom: 5px;
      vertical-align: middle;
    }
  }

  .tab_div {
    background: var(--off-white);
    padding: 10px 25px 25px 25px;

    ul {
      list-style: none;
      margin-bottom: 15px;

      li {
        cursor: pointer;
        display: inline-block;
        padding: 10px 0;
        text-align: center;
        margin-right: 30px;
        color: var(--tertiary);
        background: var(--off-white);
      }

      .active {
        border-bottom: 2px solid var(--highlight);
        color: var(--secondary);
      }
    }
  }
}

.details-container {
  padding: 15px 25px 30px 25px;

  h3 {
    font-weight: 600;
    color: var(--primary);

    span {
      color: var(--tertiary);
    }
  }

  p {
    padding-top: 10px;
    color: var(--secondary);

    a {
      text-decoration: underline;
      text-underline-position: below;
    }

    span {
      color: var(--tertiary);
      margin-right: 8px;
    }
  }
}

